div.col-md-9
	each taxpayer in taxpayers
		.clearfix.col-md-12(style="margin-bottom:25px")
			.col-md-9
				.card.card-nav-tabs
					.header.header-primary
						.nav-tabs-navigation
							.nav-tabs-wrapper
								ul.nav.nav-tabs
									li 
										a 
											i.material-icons person
											|Taxpayer in 
											strong Tamarac, FL
									li.pull-right.text-right
										a.btn.btn-info.btn-sm.btn-raised(href="/app/taxpayer/#{taxpayer._id}") View                        	
					.content
						table.table
							thead
								tr
									th Status
									th AGI
									th Fed. Tax
									th St. Tax
									th Dep.
							tbody
								tr
									td #{taxpayer.filingStatus}
									td #{taxpayer.income[0].income}
									td #{taxpayer.income[0].fdTax}
									td #{taxpayer.income[0].stTax}
									td #{taxpayer.numDdep}
			.col-md-3
				ul.list-unstyled(style="padding-top:55px")
					li.text-danger
						small Submitted
					li #{taxpayer._id.getTimestamp().toDateString()} 
					
					
